:root{
  --color: rgb(72, 153, 153)
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
  gap: 30px;
  justify-content: center;
  text-align: center;
}

.app{
  font-family: 'Arial';
  min-height: 100vh;
  padding: 50px;
  background-color: aliceblue;
}


button{
  display: flex;
  margin: 20px auto;
  border: 0;
  border-radius: 6px;
  padding: 12px;
  background-color: var(--color);
  transition: all .5s ease;
  cursor: pointer;
}

button:hover{
  transform: scale(1.02);
}